.body{
    background-color: #b4b4b4;
    width: 95%;
    margin: 20px auto;
}
.tbar{
    margin: 0 auto;
    background-color: white;
    width: 96.6%;
    padding: 10px 20px;
}
.grid-container{
    margin: 10px auto;
    display: grid;
    grid-template-areas: "left right";
}
.left-item{
    padding: 20px 20px;
    grid-area: left;
    background-color: white;
    margin-right: 10px;
}
.right-item{
    padding: 20px 20px;
    grid-area: right;
    background-color: white;
    color: black;
    /* margin-left: 10px; */
}
.right-item .heading{
    margin: 10px 0 20px 10px;
    font-size: 25px;
    font-weight: 300;
}
.image{
    width: 100%;
}
.lists li{
    margin-left: -7px;
}
.ml{
    margin-left: 12px;
}
.star{
    padding: 0 5px;
    margin-bottom: 10px;
}
.p{
    margin-bottom: 20px;
}
.ppp{
    background-color: rgb(151, 151, 151);
    padding: 8px 5px;
    padding-right: 43px;
    margin-bottom: 15px;
}
.pll{
    width: 165px;
    background-color: rgb(151, 151, 151);
    padding: 8px 5px;
    padding-right: 35px;
    margin-bottom: 15px;
}
.ll{
    font-weight: 900;
}
.pricel{
    margin-bottom: 10px;
}
.button{
    color: red;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid red;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.button:hover{
    color: white;
    background-color: red;
}
.dt{
    color: #0DCAF1;
    margin-bottom: 15px;
    margin-top: 7px;
    font-weight: bold;
}
.qo{
    font-weight: bolder;
    font-size: 30px;
}
.lists{
    line-height: 30px;
}
.left-item{
    display: grid;
    grid-template-areas: "l r r r r";
}
.fleft{
    grid-area: l;
}
.fleft div img{
    width: 100%;
    border: 1px solid rgb(110, 105, 105);
    margin: 5px 5px;
}
.fright{
    grid-area: r;
}
.fright div img{
    width: 100%;
    padding: 50px 10px;
    margin: 10px 10px;
}